    /* Font Face */
    @font-face {
    font-family: 'PE';
    src: url('PE.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    }

    /* Header */
    /* Main Header Design */
    #header { 
    height: 150px;
    background-color: #1f1f1f;
    box-shadow: 5px 5px 10px gray;
    margin: 0;
    }

    /* Banner Measurements */
    #header img { 
    width: 100%;
    height: 150px;
    object-fit: cover;
    }

    /* Buttons */
    .nav-button {
    display: inline-block;
    padding: 10px 25px;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    transition: all 0.5s ease;
    }
    .home { background-color: red; }
    .home:hover { background-color: darkred; transform: scale(1.1); box-shadow: 0 4px 8px rgba(0,0,0,0.3); }
    .trainerdex { background-color: blue; }
    .trainerdex:hover { background-color: darkblue; transform: scale(1.1); box-shadow: 0 4px 8px rgba(0,0,0,0.3); }
    .about { background-color: green; }
    .about:hover { background-color: darkgreen; transform: scale(1.1); box-shadow: 0 4px 8px rgba(0,0,0,0.3); }
    
    /* Home Container */
    .container {
    max-width: 1300px;
    margin: 0 auto;
    padding: 20px;
    border: 2px solid #4CAF50;
    border-radius: 10px;
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }

    /* Headings and Lists */
    h1 {
    color: #4CAF50;
    text-align: center;
    }
    h2 {
    color: #2196F3;
    }
    ul {
    list-style-type: disc;
    margin-left: 20px;
    }

    /* Background Music */
    .music { 
    position: fixed;
    top: 10px;
    right: 10px;
    width: 50px;
    height: 50px;
    cursor: pointer;
    border-radius: 100%;
    border: none;
    }

    /* Links */
    nav { 
    background-color: #3f3939;
    display: grid;
    grid-template-rows: auto;
    padding: 10px 50px;
    }

    /* Text Design */
    nav a { 
    text-decoration: none;
    font-weight: bold;
    color: black;
    }

    /* Text Layout */
    nav ul { 
    display: flex;                  
    justify-content: space-between;
    gap: 30px;
    list-style: none;
    margin: 0;
    padding: 0;
    cursor: pointer;
    }

    /* Footer */
    footer {
    width: 100%;
    margin-top: auto;
    clear: both;
    }   
    footer p {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background-color: #1f1f1f;
    margin: 0;
    color: white;
    }

    /* Body */
    body {
    margin: 0;
    background-image: url('pokeball.png'), repeating-linear-gradient(180deg, #2ecc71, #2ecc71 5px, #145a32 5px, #145a32 10px);
    background-repeat: no-repeat, repeat;
    background-size: 648px 540px;
    background-position: left;
    background-attachment: fixed, scroll;
    font-family: 'PE', sans-serif;
    font-size: x-large;
    }

    /* TABS */
    .tabs { /*TAB DESIGN*/
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      background-color: yellow;
      max-width: 810px;
      width: 90%;
      justify-self: center;
      font-family: 'PE';
    }

    .tabs button { /*FONT*/
      font-family: 'PE', sans-serif;
      font-size: xx-large;
    }

    .section button { /*BUTTON DESIGN*/
      padding-top: 10px;
      padding-bottom: 3%;
      border-radius: 0;
      cursor: pointer;
      background-color: yellow;
    } 

    .tabactive { /*DEFAULT YES COLOR*/
      background-color: yellow;
    }

    .tabinactive { /*DEFAULT NO COLOR*/
      background-color: gray;
    }

    .pokemon { /*DEFAULT SHOW*/
      display: block;
    }

    .ptab {
      justify-content: center;
    }

    .trainer { /*DEFAULT HIDE*/
      display: none;
}

    .ttab {
      display: none;
      justify-content: center;
    }

    .show { /*SHOW TAB*/
      display: block;
    }

    .showp {
      display: flex;
    }

    .hide { /*HIDE TAB*/
      display: none;
    }

    /* POKEMON */

    .ptab ul { /*MAIN LIST DESIGN*/
      list-style: none;
      display: grid;
      grid-template-rows: 1fr;
      margin: 0;
      padding-left: 0;
      max-width: 810px;
      width: 90%;
    }

    details.pokesummary { /*POKEMON SUMMARY OUTSIDE DESIGN*/
      position: relative;
      margin: 0;
      padding: 0;
      background-color: #ffff00;
      border-top: 5px solid #ffff66;
      border-left: 5px solid #ffff66;
      border-right: 5px solid #ccaa00;
      border-bottom: 5px solid #ccaa00;
      box-shadow: 0 0 0 2px black;
      border-radius: 1%;
    }

    details[open].pokesummary { /*POKEMON DETAILS INSIDE DESIGN*/
      background-color: #d3d3d3;
      border: 5px solid white;
      box-shadow:
        0 0 0 5px #d3d3d3,
        0 0 0 8px #404040,
        0 0 0 10px black;
      border-radius: 1%;
      border-bottom-right-radius: 20%;
      padding-left: 2%;
      padding-bottom: 1%;
      z-index: 2; /*OVERFLOWS BOTTOM SUMMARY*/
    }

    details.pokesummary::marker { /*REMOVES DEFAULT ARROW*/
      display: none;
    }

    .pokesummary summary { /*ADJUSTES LAYOUT*/
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      align-items: center;
      flex-wrap: wrap;
      gap: 10px;
      overflow: hidden;
    }

    .pleft { /*LEFT GRID POKEMON*/
      display: grid;
      grid-row: 30px auto 30px;
      align-items: center;
      margin-left: 30px;
    }

.pleft img {
  grid-row: 2;
  display: flex;
  justify-content: space-between;
  overflow: visible;
}

.pright { /*RIGHT GRID POKEMON*/
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: center;
}

.pname { /*POKEMON NAME*/
  display: flex;
  align-items: center;
  gap: 5px;
  justify-content: flex-end;
  text-align: end;
  grid-column: 3;
}

.pname span { /*POKEMON TEXT*/
  display: inline-block;
  align-items: center;
  margin: 0;
  padding: 0;
  font-size: x-large;
  gap: 0;
  font-family: 'PE', sans-serif;
  font-size: xx-large;
}

.pnum { /*NUMBER#*/
  align-items: center;
  grid-column: 2;
}

.psprite { /*POKEMON SPRITE*/
  width: 100px;
  height: 100px;
  grid-row: 1;
}

.pokesummary .type { /*POKEMON TAB TYPE*/
  width: 65px;
  height: 28px;
  grid-row: 2;
}

.htwts { /*HTWT DIRECTION*/
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin: 0 auto;  
}

.htwt { /*HEIGHT WEIGHT SPACING*/
  display: flex;
  justify-content: space-between;
  max-width: 300px;
  border-bottom: 1px solid black;
  padding: 0;
  line-height: 1;

}

#pokemon audio { /*POKEMON CRY*/
  width: 97%;
}

.lcs { /*GROUPING LOCATIONS*/
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 20px;
  margin: auto;
  overflow: hidden;
}

.lccard { /*LOCATION CARDS*/
  text-align: left;
}

.sc { /*SIZE COMPARISON PIC*/
  width: 100%;
  max-width: 480px;
  height: auto;
  border-radius: 10%;
}


/*=================================================================
==============================TRAINER==============================
=================================================================*/
#trainer.ttab ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

#trainer.ttab li {
  list-style: none;
}

#trainer.ttab summary {
  list-style: none;
}

details.trainer-main {
  max-width: 800px;
  width: 90%;
  margin: 0 auto;
  background-color: #f9c57c;
  border-radius: 1%;
  border-top: 5px solid #ffe8d8;
  border-left: 5px solid #ffe8d8;
  border-right: 5px solid #b26e7a;
  border-bottom: 5px solid #b26e7a;
  box-shadow:
  0 0 0 2px black;
}

details.trainer-main a{
  display: flex;
  justify-content: flex-end;
}

details.trainer-main[open] {
  background-color: #f9c57c;
  border-radius: 1%;
  border-top: 5px solid #ffe8d8;
  border-left: 5px solid #ffe8d8;
  border-right: 5px solid #b26e7a;
  border-bottom: 5px solid #b26e7a;
  box-shadow:
  0 0 0 2px black;
}

details.trainer-main details{
  
  margin-top: 10px;
  margin-bottom: 10px;
}

.trainer-preview {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.trainer-preview-left {
  display: flex;
  align-items: center;
  justify-content: center;
}

.trainer-preview-left img {
  width: 100px;
  height: auto;
  border-radius: 20px;
  background-color: #a97447;
}

.trainer-preview-right {
  display: grid;
  grid-template-columns: 30px auto 30px;
  align-items: center;
}

.tinfo {
  grid-column: 2;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.tarrow {
  grid-column: 3;
}

.teams {
display: flex;
justify-content: center;
align-items: center;
width: 200px;
margin: 0 auto;
background-color: #f9c57c;
border-radius: 5px;
border-top: 5px solid #ffe8d8;
border-left: 5px solid #ffe8d8;
border-right: 5px solid #b26e7a;
border-bottom: 5px solid #b26e7a;
box-shadow: 0 0 0 2px black;
text-align: center; 
}

.team-slots {
background-color: #3f3939;
border: 2px solid black; 
margin-top: 5px;        
padding: 10px;
width: 90%;
max-width: 800px;         
margin-left: auto;
margin-right: auto;       
border-radius: 5px;
box-sizing: border-box;
display: flex;          /* use flex to allow wrapping */
flex-wrap: wrap;        /* wrap cards on small screens */
justify-content: center; /* center cards in each row */
gap: 15px;              /* space between cards */
}

.team-individual-rock {
background-color: #CDAA7D;
border: 2px solid brown;
border-radius: 5px;
padding: 10px;
width: 150px;   /* fixed width */
height: 150px;  /* fixed height */
text-align: center;
display: flex;
flex-direction: column;
align-items: center;
justify-content: center; /* vertically center content */
}

.team-individual-rock img.png {
width: 110px;   /* Pokémon sprite size */
height: auto;
margin-bottom: 10px;
background-color: white;
border-radius: 5%;
border: 2px solid #666666;
box-shadow: 0 0 0 2px black;
}

.team-individual-rock img.type {
width: 50px;
height: 50px;
}

.team-individual-steel {
background-color: #E6E6E6;
border: 2px solid #D3D3D3;
border-radius: 5px;
padding: 10px;
width: 150px;   /* fixed width */
height: 150px;  /* fixed height */
text-align: center;
display: flex;
flex-direction: column;
align-items: center;
justify-content: center; /* vertically center content */
}

.team-individual-steel img.png {
width: 110px;   /* Pokémon sprite size */
height: auto;
margin-bottom: 10px;
background-color: white;
border-radius: 5%;
border: 2px solid #666666;
box-shadow: 0 0 0 2px black;
}

.team-individual-steel img.type {
width: 50px;
height: 50px;
}

/* About */
/* Developer Card */
.dev-card {
    background: #e6e6e6;
    padding: 20px;
    border-radius: 12px;
    width: auto;
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 25px;
}

/* Left side (Name and Role) */
.dev-info {
    flex: 1; /* equals the space on the left */
}

/* Right side (Sprite IMG box) */
.dev-sprite {
    flex: 1; /* equals the space on the right side */
    display: flex;
    justify-content: flex-end;
    align-items: center; 
    
}
/* Custom Sprite Images */
img.sprite-one  {
height: 250px;
}

img.sprite-two  {
height: 130px;
}

img.sprite-three  {
height: 120px;
}

img.sprite-four  {
height: 200px;
}

img.sprite-five {
height: 200px;
}
